exportPattern("^[[:alpha:]]+")
importFrom("Matrix", "t")
importFrom("methods", "as", "new")
importFrom("stats", "na.omit", "phyper", "sd")
importFrom("utils", "data", "read.csv", "read.delim", "read.table",
               "write.table")